body {
  font-family: 'Cabin', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto', sans-serif;

}
#headerInfo {
  font-size: 0.8em;
  color: #4a4e69;
  line-height: 20px;
  background-color: #eaf4f4 ;
}


#wrapper {
  position: relative;  
  height: auto;
  min-height: 100%;
  
}

#wrapper li {
  list-style-type: none;
}

#wrapper li:nth-child(1) {
  font-weight: bolder;
}

#footerInfo {
  font-size: 0.8em;
  color: #4a4e69;
  line-height: 20px;
  text-align: center;
  width: 100%;
  position: relative;
  transform: translateY(-100);
  background-color: #eaf4f4; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  align-items: auto;
  align-content: start
}

button {
  background-color: #83bcff;
  font-size: 0.7em;
  padding: 7px;
  display: inline-block;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

@media screen and (orientation: portrait) {
  td img { width: 50px; height: 50px; }
}
@media screen and (orientation: landscape) {
  td img { width: 30px; height: 30px; }
}
